/* index CSS */

/* HEADER */

.logo {
    width: 150px;
    margin-left: 5px;
  }
  
  header {
    background-image: url(imgs/puerta.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }

  nav {
    font-size: 18px;
  }

/* MAIN */

  .objetivo--mejor {
    color: orangered;
    font-style: italic;
    font-weight: bold;
  }
  
  .objetivo h2 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    vertical-align: center;
  }

  .logo--objetivo {
    display: none;
  }

  .clase-de-prueba {
    background-image: url(imgs/clase-de-prueba-chica.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }

  .clase-de-prueba h3 {
    margin-top: 50px;
    border: 1px solid white;
    padding: 3px 10px;
    font-size: 20px;
    text-align: center;
  }
  .clase-de-prueba a {
    text-decoration: none;
  }

  .compete {
    background-image: url(imgs/clase-de\ -prueba2.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    object-fit: cover;
  }
  
  .compete-title {
    padding-top: 120px;
    color: orangered;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  .compete-title-2 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .distancia {
    background-image: url(imgs/clase-de-prueba4.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    object-fit: cover;
  }
  .distancia-title {
    padding: 170px 0px 0 0px;
  }

  /* FOOTER */

  footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.001), black),
      url(imgs/acti.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    object-fit: cover;
    text-align: center;
  }
  
  .logo--footer {
    width: 150px; 
  }

  .about-footer li {
    list-style-type: none;
    font-size: 20px;
  }
  .about-footer li a {
    text-decoration: none;
    color: white;
  }

  .redes {
    text-align: center;
    padding-top: 100px;
  }
  .redes h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .redes i {
    font-size: 30px;
    padding: 0px 20px;
    font-weight: bold;
  }
  
  .copyright {
    padding-top: 50px;
  }


  @media (min-width: 768px) {
    .logo--objetivo {
      padding-top: 100px;
      padding-left: 10px;
      display: block;
    }
    .objetivo h2 {
      font-size: 50px;
      text-align: left;
      justify-content: left;
    }
  
    .clase-de-prueba h3 {
      font-size: 30px;
    }
  
    footer {
      height: 60vh;
    }

    .logo--footer {
        width: 200px; 
      }
  }
  @media (max-width: 375px){
footer {
    height: 100vh;
}
  }
  @media (max-width: 500px) {
    .objetivo h2 {
      font-size: 30px;
    }
  }